body {
    display:flex;
    flex-flow: column nowrap;
    align-items: center; 
}

.boxA {
    display: flex;
    background-color: #1F2937;
    flex-flow: column nowrap;
    padding:50px;
    padding-top: 0;
    gap: 80px;
    width: 1000px;
}

.boxA-1 {
    display:flex;
    gap: 10px;
    color: white;
    width: auto;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    margin-right:auto;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;

}

.boxA-2 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#boxA-2-1 {
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    max-width: 400px;
    margin-right: auto;
}

#large-bold-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    font-family: 'Roboto';
}

#small-subtext {
    font-size: 18px;
    color: #E5E7EB;
    font-family: 'Roboto';
}

#big-image {
    width: auto;
    height:300px;

}

#button1 {
    width: 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: thin solid #3882F6;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    margin-top: 10px;
}
.boxB {
    display:flex;
    background-color: white;
    flex-flow: column nowrap;
    width: 1100px;
    margin-left: 0;
    margin-bottom: 50px;
}

#boxB-1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    margin-top: 40px;
}

#boxB-2 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#boxB-2-1 {
    display:flex;
    flex-flow: row nowrap;
    gap: 20px;
}

#boxB-2-2 {
    display:flex;
    flex-flow: row nowrap;
    gap: 20px;
    width: 700px;
    
}

.text {
    text-align: center;
}

.images img {
    width: 150px;
    height: auto;
    border: thick solid #3882F6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.boxC {
    display: flex;
    flex-flow: column nowrap;
    background-color: #E5E7EB;
    height: 250px;
    width: 1100px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.boxC>*:first-child {
    align-self: center;
}


#boxC-1 {
    text-align: left;
    font-size: 36px; 
    font-style: italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #1F2938;
    max-width: 600px;
    font-weight: 100;
    border: thin solid blue;
}

.boxC>#boxC-2 {
    border: thin solid red;
    align-self: flex-end;
    margin-right: 200px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.boxD {
    display: flex;
    flex-flow: row nowrap;
    background-color: white;
    height: auto;
    border: thin solid #3882F6;
    padding: 40px;
    background-color: #3882F6;
    border-radius: 10px;
    margin-bottom: 100px;
    margin-top: 100px;
}

#boxD-1 {
    display: flex;
    flex-flow: column nowrap;
}

#med-text {
    color: #F9FAF8;
    text-align: left;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#small-subtext {
    color: #F9FAF8;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    margin-right: 200px;
}

#button2 {
    color: white;
    font-weight: bold;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

footer {
    align-self: stretch;
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}





